# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Node.js
node_modules/
.next/
out/
build/
.DS_Store
*.pem
.env*.local
.vercel

# Database
*.db

# Upload directory - if you don't want to track uploaded files
uploads/

# VS Code
.vscode/

# Plotly figures
images/plotly_figures/
